<!-- Tarjeta básica que se ajusta al ancho de la pantalla y
  se puede utilizar como un componente de un diseño de página más grande.


  Row crea una fila para organizar el contenido en columnas-->
<div class="row">
  <!--En pantalla mediana (md3) la columna tendrá un ancho de 3 unidades de columnas
      En pantalla pequeña (sm6) tendrá un ancho de 6 unidades de columnas -->
  <div class="col-md-3 col-sm-6">
    <!--"card" define la estructura de una tarjeta de Bootstrap.
      "mb-2" separa con margen de 2 unidades el contenido que la rodea.
      "text-center" centra el contenido dentro de la tarjeta en horizontal.
      "bg-dark" cambia el fondo de la tarjeta a un color oscuro -->
    <div class="card mb-2 text-center bg-dark">
      <!-- TODO: Crear imagen -->
      <div class="card-body text-white">
        <p class="card-text">Hola Mundo</p>
      </div>
    </div>
  </div>
</div>
